/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #20200e !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c7c7c2; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c7c7c2; background-color: rgba(162,162,170,0.4)}
.cm-s-nqqwal { background-color: #20200e; color: #c7c7c2; }
.cm-s-nqqwal span.cm-builtin { color: #a4a98a; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #72725d; }
.cm-s-nqqwal span.cm-keyword { color: #a5a996; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #a5a9a0; }
.cm-s-nqqwal span.cm-def { color: #a7a9a8; }
.cm-s-nqqwal span.cm-variable { color: #a2a2aa; }
.cm-s-nqqwal span.cm-variable-2 { color: #a7a9a8; }
.cm-s-nqqwal span.cm-string { color: #a4a98a; }
.cm-s-nqqwal span.cm-string-2 { color: #a4a98a; }
.cm-s-nqqwal span.cm-number { color: #a7a9a8; }
.cm-s-nqqwal span.cm-tag { color: #a5a996; }
.cm-s-nqqwal span.cm-property { color: #a2a2aa; }
.cm-s-nqqwal span.cm-attribute { color: #a2a2aa; }
.cm-s-nqqwal span.cm-qualifier { color: #a5a9a0; }
.cm-s-nqqwal span.cm-meta { color: #a7a9a8; }
.cm-s-nqqwal span.cm-header { color: #a5a996; }
.cm-s-nqqwal span.cm-operator { color: #a5a996; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(167,169,168,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #a5a996; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #20200e); }
