/* Colors for YASB */
:root {

    /* Special */
    --background: #20200e;
    --foreground: #c7c7c2;
    --cursor: #c7c7c2;

    /* Colors */
    --color0: #20200e;
    --color1: #a5a87c;
    --color2: #a4a98a;
    --color3: #a5a996;
    --color4: #a5a9a0;
    --color5: #a7a9a8;
    --color6: #a2a2aa;
    --color7: #c7c7c2;
    --color8: #72725d;
    --color9: #a5a87c;
    --color10: #a4a98a;
    --color11: #a5a996;
    --color12: #a5a9a0;
    --color13: #a7a9a8;
    --color14: #a2a2aa;
    --color15: #c7c7c2;
}
