<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Anomale</vendor>
  <vendor_url>https://github.com</vendor_url>
  <action id="com.anomale.sddm.sync">
    <description>Sync Anomale wallpaper and colors to SDDM</description>
    <description xml:lang="en">Sync Anomale wallpaper and colors to SDDM</description>
    <message>Authentication is required to update the SDDM login theme</message>
    <message xml:lang="en">Authentication is required to update the SDDM login theme</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/lib/anomale/sddm-sync.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
